@import "./components/globales";
@import "./components//header";

.main {
  &__banner {
    height: 300px;
    width: 100%;
  }
  &__banner--img {
    background-image: url("/assets/images/blog1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    filter: brightness(0.5);
    position: absolute;
  }
  &__banner--description {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: relative;
    color: $color-claro;
    text-align: end;
    padding: 20px;
  }
  &__blogs {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template: repeat(3, minmax(380px, 400px)) / repeat(
        1,
        minmax(280px, 480px)
      );
    gap: 20px;
    justify-content: center;
    grid-auto-rows: minmax(380px, 400px);
  }
  &__blogs--container {
    background: $background-blog;
    color: $color-oscuro;
    padding: 10px;
    border-radius: 20px;
  }
  &__blogs--container img {
    width: 100%;
    max-height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
  }
}
@import "./components/footer.scss";
