.main {
  &__banner {
    height: 350px;
    width: 100%;
  }
  &__banner--img {
    background-image: url("/assets/images/banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    filter: brightness(0.5);
    position: absolute;
  }
  &__banner--name {
    color: $color-claro;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
  }
  &__banner--name a {
    color: $color-claro;
    text-decoration: underline;
  }
  &__title {
    margin: 20px auto;
    width: 90%;
    color: $color-claro;
    text-align: center;
    border-bottom: 2px solid $color-claro;
  }
  &__blog {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template: repeat(3, minmax(380px, 400px)) / repeat(
        1,
        minmax(280px, 480px)
      );
    gap: 20px;
    justify-content: center;
    grid-auto-rows: minmax(250px, 400px);
  }
  &__blog--container {
    background: $background-blog;
    color: $color-oscuro;
    padding: 10px;
    border-radius: 20px;
  }
  &__blog--container img {
    width: 100%;
    max-height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
  }
}
